@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i');
@import url('https://rsms.me/inter/inter-ui.css');
html{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: "Inter UI", Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app {
  position:fixed;
  top:0;right:0;bottom:0;left:0;
}

.euiCheckableCard__children{
  width:100%;
  padding:0 !important;
}
.euiCheckableCard__control{
  display:none !important;
}
.euiCheckableCard__row:first-child{
  display: none;
}

#header {
  padding-top: 14px;
  padding-bottom: 16px;
  /*justify-content: space-between;
  align-items: center;*/
  display: block;
  max-height: 105px;
  height: auto;
  min-height: auto;
  background: #161e29;
  border: 0;
}

#logo {
  width: 200px;
  height: 30px;
}
#search-input {
  width: 270px;
  box-shadow: none;
  border-radius: 5px;
  color: #3B4755;
  background: #101821;
}
#header .euiButton{
  min-width: 80px;
  width: 80px;
  height: 35px;
  border: 1px solid #5D8FDD;
  color: #5D8FDD;
}
#header .euiButton__text {
  font-size: 10px;
  text-transform: uppercase;
}
#header .euiIcon--medium {
  width: 11px;
}
#header .euiFieldSearch::placeholder {
  color: #3B4755;
}
#header .euiFieldSearch:focus {
  background-image: linear-gradient(to top, #5D8FDD, #5D8FDD 2px, transparent 2px, transparent 100%);
}
.euiPanel.euiPanel {
  background-color: #161e29;
  border: 1px solid #161e29;
}
.euiPanel.euiPanel .euiSelectableListItem:not(:last-of-type) {
    border-bottom: 1px solid transparent;
}
.euiFieldSearch.euiFieldSearch {
  background-color: #101821;
}
/* main */
#main {
  background: #17212a;
  padding-top: 6px;
}
#main .euiSpacer--m {
  height: 6px;
}
fieldset.container {
  padding: 0;
}

#main .euiCheckableCard {
  min-height: 137px;
  padding: 24px;
  border: 0;
  background: #1a2430;
  position: relative;
}
#main .euiCheckableCard h5 {
  color: #6B7A8D;
  font-size: 12px;
}

.placeholder-img-tribe {
  position: absolute;
  left: 24px;
  top: 28px;
  width: 90px;
  height: 90px;
  border-radius: 5px;
  background: url(/static/placeholder.svg);
  background-repeat: no-repeat;
  background-size: 40px 33px;
  background-position: center center;
  background-color: #161e29;
}

#qr-wrap {
  width: 219px;
}
.qr-left {
  color: #6B7A8D;
  font-size: 12px;
}
.qr-left .lighter-color {
  color: #fff;
}
.qr-left .disabled , .qr-left .disabled .lighter-color{
  color: #3B4755;
}
.qr-left .info {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
}
.qr-left .section-separator {
  margin-top: 0;
  margin-bottom: 0;
}
#main .item-cont {
  align-items: inherit;
}
.info-section {
  color: #556171;
  font-size: 10px;
}
.lighter-color {
  color: #68798b;
}
.section-separator {
  border: 1px solid #151E27;
  margin-top: 25px;
  margin-bottom: 25px;
}
.uppercase {
  text-transform: uppercase;
}
.colapse-button {
  display: block;
  width: 100px;
  height: 40px;
  margin: 0 auto;
  background: #151E27;
  margin-bottom: -24px;
  margin-top: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}
.colapse-button img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tags-wrapper.tags-wrapper {
  display: initial;
  height: 20px;
  overflow: hidden;
}
.euiCheckableCard-isChecked .tags-wrapper.tags-wrapper{
  overflow: visible;
}
.tag-wrapper.tag-wrapper {
  display: inline-flex;
}
@media (max-width: 767px) {
  #header-right {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
  }
}
