.BountiesSvg {
  margin-top: 3px;
  margin-right: 4px;
}

.logoAlign {
  margin-top: 8px;
  margin-left: 12px;
}

.logoAlignSecondary {
  margin-top: 8px;
  margin-left: 2px;
}

.InfoContainer {
  padding-bottom: 10px;
}

.SatoshieSvg {
  margin-top: 3px;
  margin-right: 5px;
}

.ClocklogoAlign {
  margin-top: 4px;
  margin-left: -25px;
}
