name: Tests
on:
  pull_request:
    branches:
      - "*"
jobs:
  test-go:
    name: Go
    runs-on:
      - ubuntu-latest
    steps:
      - name: Enable docker.host.internal for Ubuntu
        run: |
          pwd && sudo bash -c 'echo "172.17.0.1 host.docker.internal" >> /etc/hosts'

      - uses: actions/checkout@v2

      - name: Clone Stack
        run: |
          git clone https://github.com/stakwork/sphinx-stack.git stack;

      - name: Run Stack V2
        uses: nick-fields/retry@v2
        with:
          timeout_minutes: 10
          max_attempts: 3
          command: |
            GITACTION_ENV=gitactionenv docker compose -f ./stack/alts/v2.yml --project-directory ./stack up -d;
            sleep 240;
            docker ps
            docker logs alice.sphinx
            docker logs bob.sphinx
            docker wait stack-v2setup-1

      - name: Starting DB
        run: docker compose -f ./docker/testdb-docker-compose.yml -p test_db  up -d

      - name: Install cover
        run: go get golang.org/x/tools/cmd/cover

      - name: Tests
        run: sudo V2_BOT_URL=http://localhost:3001 V2_BOT_TOKEN=xyzxyzxyz go test ./... -race -v -coverprofile=coverage.out && ./cover-check.sh coverage.out 8.4

      - name: Droping with docker compose
        run: docker compose -f ./docker/testdb-docker-compose.yml -p test_db down
